* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex-column, .main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes giro {
  0% {
    transform: translate(150px);
    font-size: 20px;
  }
  50% {
    transform: rotate(180deg) translate(350px);
    font-size: 35px;
  }
  100% {
    transform: rotate(360deg) translate(50px);
    font-size: 25px;
  }
}
.gradiente-vertical, .main .caja-1 {
  background-image: linear-gradient(to top, red, yellow, green, blue);
}

.gradiente-horizontal, .main .caja-2 {
  background-image: linear-gradient(to left, rgb(0, 255, 153), green);
}

.gradiente-oblicua, .main .caja-3 {
  background-image: linear-gradient(250deg, #bd82ee, #540b90);
}

.gradiente-circular, .main .caja-4 {
  background-image: radial-gradient(circle, red, rgb(85, 14, 14));
}

.gradiente-elipse {
  background-image: radial-gradient(ellipse 250px 100px, lightgreen, #385d38);
}

h1 {
  color: rgb(119, 20, 119);
}

.caja-1 {
  font-size: 10px;
}

.caja-2 {
  font-size: 20px;
}

.caja-3 {
  font-size: 30px;
}

.caja-4 {
  font-size: 40px;
}

.caja-5 {
  font-size: 50px;
}

.blue {
  background-image: linear-gradient(rgba(97, 97, 97, 0.8117647059), blue);
  padding: 10px;
  margin: 10px 0;
}

.yellow {
  background-image: linear-gradient(rgba(97, 97, 97, 0.8117647059), yellow);
  padding: 10px;
  margin: 10px 0;
}

.orange {
  background-image: linear-gradient(rgba(97, 97, 97, 0.8117647059), orange);
  padding: 10px;
  margin: 10px 0;
}

.btn-twitter {
  background-color: #55acee;
}

.btn-facebook {
  background-color: #3a5795;
}

.btn-gmail {
  background-color: #c25e30;
}

li {
  text-align: center;
  padding: 20px;
  font-size: 35px;
  list-style: square;
  color: #3a5795;
}

.main .caja-1 {
  background-color: rgba(33, 33, 33, 0.7411764706);
  border: 2px black solid;
  width: 300px;
  height: 300px;
  text-align: center;
  font-family: sans-serif;
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s ease-in-out;
}
.main .caja-1:hover {
  transform: rotateZ(15deg) translateX(150px);
}
.main .caja-2 {
  background-color: rgba(255, 13, 0, 0.6588235294);
  border: 2px black solid;
  width: 300px;
  height: 300px;
  text-align: center;
  font-family: serif;
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease-in-out;
}
.main .caja-2:hover {
  transform: scale(1.05);
}
.main .caja-3 {
  background-color: rgba(0, 68, 255, 0.7568627451);
  border: 2px black solid;
  width: 300px;
  height: 300px;
  text-align: center;
  font-family: monospace;
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: skew(-20deg);
}
.main .caja-4 {
  background-color: rgba(255, 170, 0, 0.7568627451);
  border: 2px black solid;
  width: 300px;
  height: 300px;
  text-align: center;
  font-family: fantasy;
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: giro;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-delay: 3s;
}
.main .caja-5 {
  background-color: rgba(195, 255, 0, 0.7568627451);
  border: 2px black solid;
  width: 300px;
  height: 300px;
  text-align: center;
  font-family: cursive;
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
  transition: 0.3s;
}
.main .caja-5:hover {
  background-color: blue;
}/*# sourceMappingURL=main.css.map */