.flex-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

// Mixin
@mixin cajas ($color, $fuente){
    background-color: $color;
    border: 2px black solid;
    width: 300px;
    height: 300px;
    text-align: center;
    font-family: $fuente;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}