//Condicionales
$palabra: incorrecto;

@if $palabra == correcto{
    h1{
        color: #076564;
        text-decoration: underline;
        padding: 10px;
    }
    button{
        padding: 10px;
    }
} @else {
    h1{
        color: rgb(119, 20, 119);
    }
}


// Bucles
@for $i from 1 through 5{
    .caja-#{$i}{
        font-size: 10px * $i;
    }
}

//Each
@each $color in blue, yellow, orange{
    .#{$color}{
        background-image: linear-gradient(#616161cf, #{$color});
        padding: 10px;
        margin: 10px 0;
    }
}

//Maps
$redes: (
    twitter: #55acee,
    facebook: #3a5795,
    gmail: #c25e30
);

@each $red, $color in $redes{
    .btn-#{$red} {
        background-color: $color;
    }
}

//Maps-Get
$estilos: (
    centro: center,
    tFuente: 35px,
    tPadding: 20px,
    lStyle: square
);

li{
    text-align: map-get($estilos, centro);
    padding: map-get($estilos, tPadding);
    font-size: map-get($estilos, tFuente);
    list-style: map-get($estilos, lStyle);
    color: map-get($redes, facebook);
}

