
.main{
    @extend .flex-column;
    .caja-1{
        @include cajas (#212121bd, sans-serif);
        @extend .gradiente-vertical;
        transform: rotateZ(15deg) translateX(150px);
    }
    .caja-2{
        @include cajas (#ff0d00a8, serif);
        @extend .gradiente-horizontal;
        transform: scale(0.85)
    }
    .caja-3{
        @include cajas (#0044ffc1, monospace);
        @extend .gradiente-oblicua;
        transform: skew(-20deg);
    }
    .caja-4{
        @include cajas (#ffaa00c1, fantasy);
        @extend .gradiente-circular;
    }
    .caja-5{
        @include cajas (#c3ff00c1, cursive);
        @extend .gradiente-elipse;
    }
}